<!DOCTYPE html>
<html lang="en">
  <head>
      <% include ./partials/head %>  
  </head>
  <body>
   <!-- START: header -->

  <div class="probootstrap-loader"></div>

  <header role="banner" class="probootstrap-header">
      <% include ./partials/header %>
  </header>
  <!-- END: header -->

   <!-- START TABLE-->
   <div class="container" style="width: 100%;">
    <h3>Buyer Logbook</h3>
    <div>
        <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModalAdd">Add New Bid</button>
    </div>
    
    <% include ./partials/notificationbar %>

    <br>
      <table class="table table-hover table-sm" id="bidTable">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Bid logID</th>
            <th scope="col">Produce Name</th>
            <th scope="col">Bid Timestamp</th>
            <th scope="col">Quantity</th>
            <th scope="col">Unit of Measure</th>
            <th scope="col">Bid Price</th>
            <th scope="col">Bid Status</th>
            <th width="200px">Action</th>
          </tr>
        </thead>
        <tbody>
          <% if(data.length){

              for(var i = 0; i< data.length; i++) {%>
              <tr>
                <th scope="row"><%= (i+1) %></th>
                <td><%= data[i].bid_logid%></td>
                <td><%= data[i].bid_produceName%></td>
                <td><%= data[i].bid_timeStamp%></td>
                <td><%= data[i].bid_quantity%></td>
                <td><%= data[i].bid_unitOfMeasure%></td>
                <td><%= data[i].bid_price%></td>
                <td><%= data[i].bid_status%></td>
                <td>
                    <a href="javascript:void(0);" class="btn btn-sm btn-info edit" data-bid_logid="<%= data[i].bid_logid%>"
                      data-bid_produceName="<%= data[i].bid_produceName%>" data-bid_timeStamp="<%=data[i].bid_timeStamp%>"
                      data-bid_quantity="<%= data[i].bid_quantity%>" data-bid_price="<%= data[i].bid_price%>" 
                      data-bid_status="<%= data[i].bid_status%>"
                      data-bid_userName="<%= data[i].bid_userName%>" data-bid_unitOfMeasure="<%= data[i].bid_unitOfMeasure%>"  
                      data-bid_saleTime="<%= data[i].bid_saleTime%>" data-bid_saleUserName="<%= data[i].bid_saleUserName%>" 
                      data-bid_salePrice="<%= data[i].bid_salePrice%>" data-bid_userID="<%= data[i].bid_userID%>" 
                      data-bid_saleUserId="<%= data[i].bid_saleUserId%>"
                      >View</a>
                </td>
              </tr>
              <% }

           }else{ %>
               <tr>
                  <td colspan="5">No Bidding data available for user</td>
               </tr>
            <% } %>

        </tbody>
    </table>
   </div>
   <!-- END TABLE-->

   <!-- Modal Add Configuration-->
	  <form action="/app/order/buyer/bid/save" method="post">
        <div class="modal fade" id="myModalAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog" role="document">
           <div class="modal-content">
             <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLabel">PLACE NEW BID</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
               </button>
             </div>
             <div class="modal-body">
               <div class="form-group">
                   <label for="config_name">Produce Name</label>
                   <input type="text" name="bid_produceName" class="form-control" placeholder="Produce Name" required>
               </div>

               <div class="form-group">
                   <label for="config_description">Produce quantity</label>
                   <input type="text" name="bid_quantity" class="form-control" placeholder="Quantity" required>
               </div>

               <div class="form-group">
                   <label for="config_value">Unit of Measure</label>
                   <input type="text" name="bid_unitOfMeasure" class="form-control" placeholder="Unit of Measure" required>
               </div>
               <div class="form-group">
                <label for="config_name">Price</label>
                <input type="text" name="bid_price" class="form-control" placeholder="Bid Price" required>
            </div>
             </div>
             <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
               <button type="submit" class="btn btn-primary">Save</button>
             </div>
           </div>
         </div>
        </div>
	 </form>
   <!-- End Modal Add Configuration-->

   <!-- Modal View Configuration-->
   <form action="/app/config/update" method="post">
       <div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">View Bid</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                  <label for="config_name">Config Name</label>
                  <input type="text" name="config_name" class="form-control config_name" placeholder="Config Name" required>
              </div>

              <div class="form-group">
                  <label for="config_description">Config Description</label>
                  <input type="text" name="config_description" class="form-control config_description" placeholder="Config Description" required>
              </div>

              <div class="form-group">
                  <label for="config_value">Config Value</label>
                  <input type="text" name="config_value" class="form-control config_value" placeholder="Config Value" required>
              </div>
            </div>
            <div class="modal-footer">
              <input type="hidden" name="config_id" class="config_id">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Update</button>
            </div>
          </div>
        </div>
       </div>
  </form>
   <!-- End Modal Update Configuration-->

	 

    <!-- start footer -->
    <% include ./partials/footer %>
    <!-- end footer -->
    
   <!--<script type="text/javascript" src="/js/bundle.js"></script>-->
    <script src="/js/scripts.min.js"></script>
  <script src="/js/main.min.js"></script>
  <script src="/js/custom.js"></script>
  <script>
    $(document).ready(function(){

        //showing data to edit modal
        $('#bidTable').on('click','.edit',function(){
            var config_id = $(this).data('configid');
            var config_name = $(this).data('configname');
            var config_description = $(this).data('configdescription');
            var config_value = $(this).data('configvalue');
            $('#EditModal').modal('show');
            $('.config_name').val(config_name);
            $('.config_description').val(config_description);
            $('.config_value').val(config_value);
            $('.config_id').val(config_id);
      });
    });
    </script>
  </body>
</html>
