<!DOCTYPE html>
<html lang="en">
  <head>
      <% include ./partials/head %>  
  </head>
  <body>
   <!-- START: header -->

  <div class="probootstrap-loader"></div>

  <header role="banner" class="probootstrap-header">
      <% include ./partials/header %>
  </header>
  <!-- END: header -->

   <!-- START TABLE-->
   <div class="container" style="width: 100%;">
    <h3>Buyer Logbook</h3>
    <div>
        <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModalAdd">Add New Bid</button>
    </div>
    
    <% include ./partials/notificationbar %>

    <br>
      <table class="table table-hover table-sm" id="bidTable">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Bid logID</th>
            <th scope="col">Produce Name</th>
            <th scope="col">Bid Timestamp</th>
            <th scope="col">Quantity</th>
            <th scope="col">Unit of Measure</th>
            <th scope="col">Bid Price</th>
            <th scope="col">Bid Status</th>
            <th width="200px">Action</th>
          </tr>
        </thead>
        <tbody>
          <% if(data.length){

              for(var i = 0; i< data.length; i++) {%>
              <tr>
                <th scope="row"><%= (i+1) %></th>
                <td><%= data[i].bid_logid%></td>
                <td><%= data[i].bid_produceName%></td>
                <td><%= data[i].bid_timeStamp%></td>
                <td><%= data[i].bid_quantity%></td>
                <td><%= data[i].bid_unitOfMeasure%></td>
                <td><%= data[i].bid_price%></td>
                <td><%= data[i].bid_status%></td>
                <td>
                    <a href="javascript:void(0);" class="btn btn-sm btn-info edit" data-bid_logid="<%= data[i].bid_logid%>"
                      data-bid_produceName="<%= data[i].bid_produceName%>" data-bid_timeStamp="<%=data[i].bid_timeStamp%>"
                      data-bid_quantity="<%= data[i].bid_quantity%>" data-bid_price="<%= data[i].bid_price%>" 
                      data-bid_status="<%= data[i].bid_status%>"
                      data-bid_user="<%= data[i].bid_user%>" data-bid_unitOfMeasure="<%= data[i].bid_unitOfMeasure%>"  
                      data-bid_saleTime="<%= data[i].bid_saleTime%>" data-bid_saleUser="<%= data[i].bid_saleUser%>" 
                      >View</a>
                </td>
              </tr>
              <% }

           }else{ %>
               <tr>
                  <td colspan="5">No Bidding data available for user</td>
               </tr>
            <% } %>

        </tbody>
    </table>
   </div>
   <!-- END TABLE-->

   <!-- Modal Add Bid-->
	  <form action="/app/order/bid/save" method="post">
        <div class="modal fade" id="myModalAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog" role="document">
           <div class="modal-content">
             <div class="modal-header">
               <h4 class="modal-title" id="exampleModalLabel">Place new bid</h4>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
               </button>
             </div>
             <div class="modal-body">
               <div class="form-group">
                   <label for="config_name">Produce Name</label>
                   <select class="custom-select d-block w-100" id="bid_produceName" name="bid_produceName" >
                    <option value="" selected disabled >Choose Produce...</option>
                    <option>Baby Marrow</option>
                    <option>Baby Leeks</option>
                    <option>Basil</option>
                    <option>Beetroot</option>
                    <option>Bergamot</option>
                    <option>Blood Oranges</option>
                    <option>Cabbage</option>
                    <option>Carrots</option>
                    <option>Cauliflower</option>
                    <option>Cayenne Pepper</option>
                    <option>Cucumber</option>
                    <option>Eggs</option>
                    <option>Fennel</option>
		                <option>Granadilla</option>
                    <option>Green Beans</option>
                    <option>Herbs</option>
                    <option>Lebanese Cucumber</option>
                    <option>Leeks</option>
                    <option>Lemon</option>
                    <option>Lettuce</option>
		                <option>Limes</option>
                    <option>Mor</option>
	                  <option>Onion</option>
		                <option>Pak Choi</option>
		                <option>Parsley</option>
                    <option>Radish</option>
                    <option>Sorrel</option>
                    <option>Swiss Chard</option>
                    <option>Spinach</option>
                    <option>Turnips</option>
                  </select>
               </div>

               <div class="form-group">
                   <label for="config_description">Produce quantity</label>
                   <input type="number" name="bid_quantity" class="form-control" placeholder="Quantity" required>
               </div>

               <div class="form-group">
                   <label for="config_value">Unit of Measure</label>
                   <select class="custom-select d-block w-100" id="bid_unitOfMeasure" name="bid_unitOfMeasure">
                    <option value="" selected disabled >Choose Unit of Measure...</option>
                    <option>bunch</option>
                    <option>kilogram</option>
                    <option>none</option>
                    <option>box</option>
                  </select>
               </div>
               <div class="form-group">
                <label for="config_name">Price</label>
                <input type="number" name="bid_price" class="form-control" placeholder="Bid Price" required>
            </div>
             </div>
             <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
               <button type="submit" class="btn btn-primary">Save</button>
             </div>
           </div>
         </div>
        </div>
	 </form>
   <!-- End Modal Add Bid-->

   <!-- Modal View Bid-->
   <form action="app/order" method="POST">
       <div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">View Bid</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label for="bid_logid">Bid ID</label>
                <input type="text" name="bid_logid" class="form-control bid_logid" placeholder="Bid ID" disabled>
            </div>
              <div class="form-group">
                  <label for="bid_produceName">Produce Name</label>
                  <input type="text" name="bid_produceName" class="form-control bid_produceName" placeholder="Produce Name" disabled>
              </div>

              <div class="form-group">
                  <label for="bid_quantity">Produce quantity</label>
                  <input type="number" name="bid_quantity" class="form-control bid_quantity" placeholder="Quantity" disabled>
              </div>

              <div class="form-group">
                  <label for="bid_unitOfMeasure">Unit of Measure</label>
                  <input type="text" name="bid_unitOfMeasure" class="form-control bid_unitOfMeasure" placeholder="Unit of Measure" disabled>
              </div>
              <div class="form-group">
               <label for="bid_price">Price</label>
               <input type="text" name="bid_price" class="form-control bid_price" placeholder="Bid Price" disabled>
              </div>
              <div class="form-group">
                <label for="bid_user">Placed by</label>
                <input type="text" name="bid_user" class="form-control bid_user" placeholder="Bid user" disabled>
               </div>
               <div class="form-group">
                <label for="bid_timeStamp">Timestamp</label>
                <input type="text" name="bid_timeStamp" class="form-control bid_timeStamp" placeholder="Bid Timestamp" disabled>
               </div>
               <div class="form-group">
                <label for="bid_status">Status</label>
                <input type="text" name="bid_status" class="form-control bid_status" placeholder="Bid Status" disabled>
               </div>
               <div class="form-group">
                <label for="bid_saleTime">Sale Time</label>
                <input type="text" name="bid_saleTime" class="form-control bid_saleTime" placeholder="Not yet acquired by seller" disabled>
               </div>
               <div class="form-group">
                <label for="bid_saleUserName">Sale User Name</label>
                <input type="text" name="bid_saleUserName" class="form-control bid_saleUserName" placeholder="Not yet acquired by seller" disabled>
               </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
       </div>
  </form>
   <!-- End Modal View Bid-->

	 

    <!-- start footer -->
    <% include ./partials/footer %>
    <!-- end footer -->
    
   <!--<script type="text/javascript" src="/js/bundle.js"></script>-->
    <script src="/js/scripts.min.js"></script>
  <script src="/js/main.min.js"></script>
  <script src="/js/custom.js"></script>
  <script>
    $(document).ready(function(){

        //showing data to edit modal
        $('#bidTable').on('click','.edit',function(){
            var bid_logid = $(this).data('bid_logid');
            var bid_produceName = $(this).data('bid_produceName');
            var bid_quantity = $(this).data('bid_quantity');
            var bid_unitOfMeasure = $(this).data('bid_unitOfMeasure');
            var bid_price = $(this).data('bid_price');
            var bid_user = $(this).data('bid_user');
            var bid_timeStamp= $(this).data('bid_timeStamp');
            var bid_status = $(this).data('bid_status');
            var bid_saleTime = $(this).data('bid_saleTime');
            var bid_saleUser = $(this).data('bid_saleUser');
            $('#viewModal').modal('show');
            $('.bid_logid').val(bid_logid);
            $('.bid_produceName').val(bid_produceName);
            $('.bid_quantity').val(bid_quantity);
            $('.bid_unitOfMeasure').val(bid_unitOfMeasure);
            $('.bid_price').val(bid_price);
            $('.bid_user').val(bid_user);
            $('.bid_timeStamp').val(bid_timeStamp);
            $('.bid_status').val(bid_status);
            $('.bid_saleTime').val(bid_saleTime);
            $('.bid_saleUser').val(bid_saleUser);
      });
    });
    </script>
  </body>
</html>
