<!DOCTYPE html>
<html lang="en">
  <head>
      <% include ./partials/head %>  
  </head>
  <body>
   <!-- START: header -->

  <div class="probootstrap-loader"></div>

  <header role="banner" class="probootstrap-header">
      <% include ./partials/header %>
  </header>
  <!-- END: header -->

   <!-- START TABLE-->
   <div class="container" style="width: 100%;">
    <h3>HARVEST LOGBOOK</h3>
    <div>
        <!-- <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModalAdd">Add New Harvest</button> -->
        <a class="btn btn-primary btn-sm" onclick="ShowModal(this, 'add', 'Add Harvest Entry','addCSS')">Add New Harvest Entry</a>
    </div>
    
    <% include ./partials/notificationbar %>
    
    <br>
      <table class="table table-hover table-condensed table-responsive" id="harvesttable">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Harvest ID</th>
            <th scope="col">Harvest Datetime</th>
            <th scope="col">Supplier</th>
            <th scope="col">Produce</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <% if(data.length){
              for(var i = 0; i< data.length; i++) {%>
              <tr>
                <td scope="row"><%= (i+1) %></th>
                <td><%= data[i].harvest_logid %></td>
                <td><%= data[i].harvest_TimeStamp %></td>
                <td><%= data[i].harvest_supplierName %></td>
                <td><%= data[i].harvest_produceName %></td>
                <td>
                  <div class="btn-group btn-group-sm" role="group" aria-label="...">
                    <a onclick="ShowModal(this, 'view', 'View Harvest Entry','viewCSS')"  class="btn btn-xs btn-info view" 
                      data-harvest_logid="<%= data[i].harvest_logid%>"
                      data-harvest_suppliershortcode="<%=data[i].harvest_supplierShortcode%>"
                      data-harvest_suppliername="<%=data[i].harvest_supplierName%>"
                      data-harvest_farmername="<%=data[i].harvest_farmerName%>"
                      data-harvest_supplieraddress="<%=data[i].harvest_supplierAddress%>"
                      data-harvest_producename="<%=data[i].harvest_produceName%>"
                      data-harvest_photohash="<%=data[i].harvest_photoHash%>"
                      data-harvest_timestamp="<%=data[i].harvest_TimeStamp%>"
                      data-harvest_capturetime="<%=data[i].harvest_CaptureTime%>"
                      data-harvest_description="<%=data[i].harvest_Description%>"
                      data-harvest_geolocation="<%=data[i].harvest_geolocation%>"
                      data-harvest_quantity="<%=data[i].harvest_quantity%>"
                      data-harvest_unitofmeasure="<%=data[i].harvest_unitOfMeasure%>"
                      data-harvest_description_json="<%=data[i].harvest_description_json%>"
                      data-harvest_blockchainhashid="<%=data[i].harvest_BlockchainHashID%>"
                      data-harvest_blockchainhashdata="<%=data[i].harvest_BlockchainHashData%>"
                      data-supplierproduce="<%=data[i].supplierproduce%>"
                      data-harvest_bool_added_to_blockchain="<%=data[i].harvest_bool_added_to_blockchain%>"
                      data-harvest_added_to_blockchain_date="<%=data[i].harvest_added_to_blockchain_date%>"
                      data-harvest_added_to_blockchain_by="<%=data[i].harvest_added_to_blockchain_by%>"
                      data-harvest_blockchain_uuid="<%=data[i].harvest_blockchain_uuid%>"
                      data-harvest_user="<%=data[i].harvest_user%>"
                      data-year_established="<%=data[i].year_established%>"
                      data-covid19_response="<%=data[i].covid19_response%>"
                      data-logdatetime="<%=data[i].logdatetime%>"
                      data-lastmodifieddatetime="<%=data[i].lastmodifieddatetime%>">
                      View</a>

                    <a onclick="ShowModal(this, 'update', 'Edit Harvest Entry','editCSS')"  class="btn btn-xs btn-info edit" 
                      data-harvest_logid="<%= data[i].harvest_logid%>"
                      data-harvest_suppliershortcode="<%=data[i].harvest_supplierShortcode%>"
                      data-harvest_suppliername="<%=data[i].harvest_supplierName%>"
                      data-harvest_farmername="<%=data[i].harvest_farmerName%>"
                      data-harvest_supplieraddress="<%=data[i].harvest_supplierAddress%>"
                      data-harvest_producename="<%=data[i].harvest_produceName%>"
                      data-harvest_photohash="<%=data[i].harvest_photoHash%>"
                      data-harvest_timestamp="<%=data[i].harvest_TimeStamp%>"
                      data-harvest_capturetime="<%=data[i].harvest_CaptureTime%>"
                      data-harvest_description="<%=data[i].harvest_Description%>"
                      data-harvest_geolocation="<%=data[i].harvest_geolocation%>"
                      data-harvest_quantity="<%=data[i].harvest_quantity%>"
                      data-harvest_unitofmeasure="<%=data[i].harvest_unitOfMeasure%>"
                      data-harvest_description_json="<%=data[i].harvest_description_json%>"
                      data-harvest_blockchainhashid="<%=data[i].harvest_BlockchainHashID%>"
                      data-harvest_blockchainhashdata="<%=data[i].harvest_BlockchainHashData%>"
                      data-supplierproduce="<%=data[i].supplierproduce%>"
                      data-harvest_bool_added_to_blockchain="<%=data[i].harvest_bool_added_to_blockchain%>"
                      data-harvest_added_to_blockchain_date="<%=data[i].harvest_added_to_blockchain_date%>"
                      data-harvest_added_to_blockchain_by="<%=data[i].harvest_added_to_blockchain_by%>"
                      data-harvest_blockchain_uuid="<%=data[i].harvest_blockchain_uuid%>"
                      data-harvest_user="<%=data[i].harvest_user%>"
                      data-year_established="<%=data[i].year_established%>"
                      data-covid19_response="<%=data[i].covid19_response%>"
                      data-logdatetime="<%=data[i].logdatetime%>"
                      data-lastmodifieddatetime="<%=data[i].lastmodifieddatetime%>">
                      Edit</a>

                    <a onclick="ShowModal(this, 'delete', 'Delete Harvest Entry','deleteCSS')" class="btn btn-xs btn-danger delete" 
                      data-harvest_logid="<%= data[i].harvest_logid%>"
                      data-harvest_suppliershortcode="<%=data[i].harvest_supplierShortcode%>"
                      data-harvest_suppliername="<%=data[i].harvest_supplierName%>"
                      data-harvest_farmername="<%=data[i].harvest_farmerName%>"
                      data-harvest_supplieraddress="<%=data[i].harvest_supplierAddress%>"
                      data-harvest_producename="<%=data[i].harvest_produceName%>"
                      data-harvest_photohash="<%=data[i].harvest_photoHash%>"
                      data-harvest_timestamp="<%=data[i].harvest_TimeStamp%>"
                      data-harvest_capturetime="<%=data[i].harvest_CaptureTime%>"
                      data-harvest_description="<%=data[i].harvest_Description%>"
                      data-harvest_geolocation="<%=data[i].harvest_geolocation%>"
                      data-harvest_quantity="<%=data[i].harvest_quantity%>"
                      data-harvest_unitofmeasure="<%=data[i].harvest_unitOfMeasure%>"
                      data-harvest_description_json="<%=data[i].harvest_description_json%>"
                      data-harvest_blockchainhashid="<%=data[i].harvest_BlockchainHashID%>"
                      data-harvest_blockchainhashdata="<%=data[i].harvest_BlockchainHashData%>"
                      data-supplierproduce="<%=data[i].supplierproduce%>"
                      data-harvest_bool_added_to_blockchain="<%=data[i].harvest_bool_added_to_blockchain%>"
                      data-harvest_added_to_blockchain_date="<%=data[i].harvest_added_to_blockchain_date%>"
                      data-harvest_added_to_blockchain_by="<%=data[i].harvest_added_to_blockchain_by%>"
                      data-harvest_blockchain_uuid="<%=data[i].harvest_blockchain_uuid%>"
                      data-harvest_user="<%=data[i].harvest_user%>"
                      data-year_established="<%=data[i].year_established%>"
                      data-covid19_response="<%=data[i].covid19_response%>"
                      data-logdatetime="<%=data[i].logdatetime%>"
                      data-lastmodifieddatetime="<%=data[i].lastmodifieddatetime%>">
                      Delete</a>
                      <% if(data[i].harvest_bool_added_to_blockchain!=='false'){%> <a href="javascript:void(0);" class="btn btn-xs btn-success">View on Blockchain</a>  <%}else{ %> 

                    <a  href="javascript:void(0);" class="btn btn-xs btn-success blockchain addHarvestToBlockchainBtn"
                      data-harvest_logid="<%= data[i].harvest_logid%>"
                      data-harvest_suppliershortcode="<%=data[i].harvest_supplierShortcode%>"
                      data-harvest_suppliername="<%=data[i].harvest_supplierName%>"
                      data-harvest_farmername="<%=data[i].harvest_farmerName%>"
                      data-harvest_supplieraddress="<%=data[i].harvest_supplierAddress%>"
                      data-harvest_producename="<%=data[i].harvest_produceName%>"
                      data-harvest_photohash="<%=data[i].harvest_photoHash%>"
                      data-harvest_timestamp="<%=data[i].harvest_TimeStamp%>"
                      data-harvest_capturetime="<%=data[i].harvest_CaptureTime%>"
                      data-harvest_description="<%=data[i].harvest_Description%>"
                      data-harvest_geolocation="<%=data[i].harvest_geolocation%>"
                      data-harvest_quantity="<%=data[i].harvest_quantity%>"
                      data-harvest_unitofmeasure="<%=data[i].harvest_unitOfMeasure%>"
                      data-harvest_description_json="<%=data[i].harvest_description_json%>"
                      data-harvest_blockchainhashid="<%=data[i].harvest_BlockchainHashID%>"
                      data-harvest_blockchainhashdata="<%=data[i].harvest_BlockchainHashData%>"
                      data-supplierproduce="<%=data[i].supplierproduce%>"
                      data-harvest_bool_added_to_blockchain="<%=data[i].harvest_bool_added_to_blockchain%>"
                      data-harvest_added_to_blockchain_date="<%=data[i].harvest_added_to_blockchain_date%>"
                      data-harvest_added_to_blockchain_by="<%=data[i].harvest_added_to_blockchain_by%>"
                      data-harvest_blockchain_uuid="<%=data[i].harvest_blockchain_uuid%>"
                      data-harvest_user="<%=data[i].harvest_user%>"
                      data-year_established="<%=data[i].year_established%>"
                      data-covid19_response="<%=data[i].covid19_response%>"
                      data-logdatetime="<%=data[i].logdatetime%>"
                      data-lastmodifieddatetime="<%=data[i].lastmodifieddatetime%>">
                      Add to Blockchain</a>  <% } %><!--<button type="button" class="btn btn-primary disabled">Disabled Primary</button> -->
                    </div>
                </td>
              </tr>
              <% }
           }else{ %>
               <tr>
                  <td colspan="5">No Data</td>
               </tr>
            <% } %>
        </tbody>
    </table>
   </div>
   <!-- END TABLE-->

    <!-- Modal View Harvest-->
    <form id="harvestModalForm" enctype="multipart/form-data" action="/app/harvest/save" method="post">
      <div class="modal fade" id="harvestViewModal" tabindex="-1" role="dialog" aria-labelledby="harvestModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="harvestModalLabel">View Harvest</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <div class="modal-body">
              <div id="modalBodyContainer" class="classIDThatContainstheContentsforModal">

                <div class="form-group">
                  <label for="viewmodal_harvest_suppliershortcode">Supplier Shortcode</label>
                  <select class="custom-select d-block w-100" name="viewmodal_harvest_suppliershortcode" id="viewmodal_harvest_suppliershortcode">
                    <option value="" selected disabled >Choose Supplier...</option>
                    <option>BGSM</option>
                    <option>EKLN</option>
                    <option>OZCF</option>
                    <option>PEDI</option>
                    <option>QCGF</option>
                    <option>WMNP</option>
                  </select>
                </div>

                <div class="form-group">
                  <label for="viewmodal_harvest_suppliername">Farmer Name</label>
                  <select class="custom-select d-block w-100" name="viewmodal_harvest_suppliername" id="viewmodal_harvest_suppliername">
                    <option value="" selected disabled >Choose Farmer Name...</option>
                    <option>Bergsoom Farm</option>
                    <option>Eikelaan Farm</option>
                    <option>Oranjezicht City Farm</option>
                    <option>Pedi AgriHub</option>
                    <option>Quick Crop Growers Farm</option>
                    <option>White Mountain Natural Produce</option>
                  </select>
                </div>
              
                <div class="form-group">
                  <label for="viewmodal_supplierproduce">Supplier Produce Code</label>
                  <select class="custom-select d-block w-100" name="viewmodal_supplierproduce" id="viewmodal_supplierproduce">
                    <option value="" selected disabled >Choose Supplier Produce...</option>
                    <option>BGSM_Bergamot</option>
                    <option>BGSM_Lemon</option>
                    <option>BGSM_Mor</option>
                    <option>BGSM_Oranges</option>
                    <option>EKLN_Cauliflower</option>
                    <option>EKLN_Eggs</option>
                    <option>EKLN_Granadilla</option>
                    <option>EKLN_Limes</option>
                    <option>EKLN_Sorrel</option>
                    <option>OZCF_Beetroot</option>
                    <option>OZCF_Chard</option>
                    <option>OZCF_Herbs</option>
                    <option>OZCF_Leeks</option>
                    <option>OZCF_Lettuce</option>
                    <option>OZCF_Radish</option>
                    <option>PEDI_Cabbage</option>
                    <option>PEDI_Carrots</option>
                    <option>PEDI_Onion</option>
                    <option>PEDI_Turnips</option>
                    <option>PEDI_Spinach</option>
                    <option>QCGF_Basil</option>
                    <option>QCGF_Beetroot</option>
                    <option>QCGF_CayennePepper</option>
                    <option>QCGF_Leeks</option>
                    <option>QCGF_PakChoi</option>
                    <option>QCGF_Parsley</option>
                    <option>QCGF_Radish</option>
                    <option>WMNP_BabyMarrow</option>
                    <option>WMNP_Basil</option>
                    <option>WMNP_Cucumber</option>
                    <option>WMNP_Fennel</option>
                    <option>WMNP_GreenBeans</option>
                    <option>WMNP_Radish</option>
                  </select>
                </div>

                <div class="form-group">
                  <label for="viewmodal_harvest_producename">Produce Name</label>
                  <select class="custom-select d-block w-100" id="viewmodal_harvest_producename" name="viewmodal_harvest_producename" >
                    <option value="" selected disabled >Choose Produce...</option>
                    <option>Baby Marrow</option>
                    <option>Baby Leeks</option>
                    <option>Basil</option>
                    <option>Beetroot</option>
                    <option>Bergamot</option>
                    <option>Blood Oranges</option>
                    <option>Cabbage</option>
                    <option>Carrots</option>
                    <option>Cauliflower</option>
                    <option>Cayenne Pepper</option>
                    <option>Cucumber</option>
                    <option>Eggs</option>
                    <option>Fennel</option>
		                <option>Granadilla</option>
                    <option>Green Beans</option>
                    <option>Herbs</option>
                    <option>Lebanese Cucumber</option>
                    <option>Leeks</option>
                    <option>Lemon</option>
                    <option>Lettuce</option>
		                <option>Limes</option>
                    <option>Mor</option>
	                  <option>Onion</option>
		                <option>Pak Choi</option>
		                <option>Parsley</option>
                    <option>Radish</option>
                    <option>Sorrel</option>
                    <option>Swiss Chard</option>
                    <option>Spinach</option>
                    <option>Turnips</option>
                  </select>
                </div>

                <div class="form-group">
                  <label for="viewmodal_harvest_supplieraddress">Farmer Address</label>
                  <input type="text" name="viewmodal_harvest_supplieraddress" class="form-control" id="viewmodal_harvest_supplieraddress" placeholder="Supplier Address">
                </div>

                <div class="form-group">
                  <label for="viewmodal_harvest_farmername">Farmer Name</label>
                  <input type="text" name="viewmodal_harvest_farmername" class="form-control" id="viewmodal_harvest_farmername" placeholder="Farmer Name">
                </div>

                <div class="form-group">
                  <label for="viewmodal_harvest_year_established">Year Farm Established</label>
                  <input type="text" name="viewmodal_harvest_year_established" class="form-control" id="viewmodal_harvest_year_established" placeholder="Year Farm Established">
                </div>

                <div class="form-group">
                  <label for="viewmodal_harvest_covid19_response">Brief description of response to COVID-19</label>
                  <input type="text" name="viewmodal_harvest_covid19_response" class="form-control" id="viewmodal_harvest_covid19_response" placeholder="Brief description of response to COVID-19">
                </div>

                <!--NB name="viewmodal_harvest_photohash_uploaded_file" and enctype="multipart/form-data" on the from required for multer library-->
                <div class="form-group">
                  <label for="viewmodal_harvest_photohash">Harvest Photo</label>
                  <input type="file" name="viewmodal_harvest_photohash_uploaded_file" class="form-control" id="viewmodal_harvest_photohash" placeholder="Photo hash">
                  <div id="viewmodal_harvest_photoimageDiv">
                    <img id="viewmodal_harvest_photoimage" width='100%' alt="Harvest Image" />
                  </div>
                </div>

                <div class="form-group">
                    <label for="viewmodal_harvest_timestamp">Harvest Timestamp</label>
                    <div class="input-group form_datetime" id="viewmodal_harvest_timestamp_datetimepicker" data-target-input="viewmodal_harvest_timestamp">
                        <input type="text" class="form-control datetimepicker-input" id="viewmodal_harvest_timestamp" name="viewmodal_harvest_timestamp" placeholder="Actual time of Harvest in the field (Harvest Timestamp)" data-target="#viewmodal_harvest_timestamp"/>
                        <span class="input-group-addon" data-target="#viewmodal_harvest_timestamp" data-toggle="datetimepicker">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>

                <div class="form-group" id="viewmodal_harvest_capturetimeDiv">
                  <label for="viewmodal_harvest_capturetime">Harvest Data Capture Time</label>
                  <div class="input-group form_datetime" id="viewmodal_harvest_capturetime_datetimepicker" data-target-input="viewmodal_harvest_capturetime">
                      <input type="text" class="form-control datetimepicker-input" id="viewmodal_harvest_capturetime" name="viewmodal_harvest_capturetime" placeholder="Harvest Data Capture Time" data-target="#viewmodal_harvest_capturetime"/>
                      <span class="input-group-addon" data-target="#viewmodal_harvest_capturetime" data-toggle="datetimepicker">
                          <span class="glyphicon glyphicon-calendar"></span>
                      </span>
                  </div>
                </div>

                <div class="form-group">
                  <label for="viewmodal_harvest_description">Description of Harvest</label>
                  <input type="text" name="viewmodal_harvest_description" class="form-control" id="viewmodal_harvest_description" placeholder="Harvest Description">
                </div>

                <div class="form-group">
                  <label for="viewmodal_harvest_geolocation">Harvest Geolocation</label>
                  <input type="text" name="viewmodal_harvest_geolocation" class="form-control" id="viewmodal_harvest_geolocation" placeholder="Harvest Geolocation">
                </div>

                <div class="form-group">
                  <label for="viewmodal_harvest_quantity">Produce Quantity</label>
                  <input type="number" name="viewmodal_harvest_quantity" class="form-control" id="viewmodal_harvest_quantity" placeholder="Quantity of produce harvested">
                </div>

                <div class="form-group">
                  <label for="viewmodal_harvest_unitofmeasure">Unit of Measure</label>
                  <select class="custom-select d-block w-100" id="viewmodal_harvest_unitofmeasure" name="viewmodal_harvest_unitofmeasure">
                    <option value="" selected disabled >Choose Unit of Measure...</option>
                    <option>bunch</option>
                    <option>kilogram</option>
                    <option>none</option>
                    <option>box</option>
                  </select>
                </div>

                <div class="form-group" id="viewmodal_harvest_description_jsonDiv">
                  <label>Additional Information</label> <br />
                  <!-- <input type="text" name="viewmodal_harvest_description_json" class="form-control" id="viewmodal_harvest_description_json" placeholder="Harvest Description JSON"> -->
                  <input type="checkbox" name="viewmodal_harvest_description_json[]" id="viewmodal_harvest_description_json_pestfree" value="Pesticide Free" /> Pesticide Free<br />
                  <input type="checkbox" name="viewmodal_harvest_description_json[]" id="viewmodal_harvest_description_json_certorganic" value="Certified Organic" /> Certified Organic<br />
                  <input type="checkbox" name="viewmodal_harvest_description_json[]" id="viewmodal_harvest_description_json_noncertorganic" value="Non-Certified Organic" /> Non-Certified Organic<br />
                  <input type="checkbox" name="viewmodal_harvest_description_json[]" id="viewmodal_harvest_description_json_conventional" value="Conventional" /> Conventional<br />
                  <input type="checkbox" name="viewmodal_harvest_description_json[]" id="viewmodal_harvest_description_json_freerange" value="Free Range" /> Free Range<br />
                  <input type="checkbox" name="viewmodal_harvest_description_json[]" id="viewmodal_harvest_description_json_greenhouse" value="Greenhouse Grown" /> Greenhouse Grown<br />
                  <input type="checkbox" name="viewmodal_harvest_description_json[]" id="viewmodal_harvest_description_json_gmo" value="Non-GMO" /> Non-GMO<br />
                </div>

                <div class="form-group", id="viewmodal_harvest_blockchainhashidDiv">
                  <label for="viewmodal_harvest_blockchainhashid">Harvest Blockchain Hash ID</label>
                  <input type="text" name="viewmodal_harvest_blockchainhashid" class="form-control" id="viewmodal_harvest_blockchainhashid" placeholder="Harvest Blockchain Hash ID">
                </div>

                <div class="form-group" id="viewmodal_harvest_blockchainhashdataDiv">
                  <label for="viewmodal_harvest_blockchainhashdata">Blockchain Hash Data</label>
                  <input type="text" name="viewmodal_harvest_blockchainhashdata" class="form-control" id="viewmodal_harvest_blockchainhashdata" placeholder="Blockchain Hash Data">
                </div>

                <!-- <div class="form-group">
                  <label for="viewmodal_supplierproduce">Supplier Produce</label>
                  <input type="text" name="viewmodal_supplierproduce" class="form-control" id="viewmodal_supplierproduce" placeholder="Supplier Produce">
                </div> -->
                
                <div class="form-group" id="viewmodal_harvest_bool_added_to_blockchainDiv">
                  <label for="viewmodal_harvest_bool_added_to_blockchain">Harvest Added to Blockchain - Yes / No</label>
                  <input type="text" name="viewmodal_harvest_bool_added_to_blockchain" class="form-control" id="viewmodal_harvest_bool_added_to_blockchain" placeholder="Harvest Added to Blockchain - Yes / No">
                </div>

                <div class="form-group" id="viewmodal_harvest_added_to_blockchain_dateDiv">
                  <label for="viewmodal_harvest_added_to_blockchain_date">Harvest Added to Blockchain Datetime</label>
                  <div class="input-group form_datetime" id="viewmodal_harvest_added_to_blockchain_date_datetimepicker" data-target-input="viewmodal_harvest_added_to_blockchain_date">
                      <input type="text" class="form-control datetimepicker-input" id="viewmodal_harvest_added_to_blockchain_date" name="viewmodal_harvest_added_to_blockchain_date" placeholder="Harvest Added to Blockchain Datetime" data-target="#viewmodal_harvest_added_to_blockchain_date"/>
                      <span class="input-group-addon" data-target="#viewmodal_harvest_added_to_blockchain_date" data-toggle="datetimepicker">
                          <span class="glyphicon glyphicon-calendar"></span>
                      </span>
                  </div>
                </div>

                <div class="form-group" id="viewmodal_harvest_added_to_blockchain_byDiv">
                  <label for="viewmodal_harvest_added_to_blockchain_by">Harvest Added to Blockchain By User</label>
                  <input type="text" name="viewmodal_harvest_added_to_blockchain_by" class="form-control" id="viewmodal_harvest_added_to_blockchain_by" placeholder="Harvest Added to Blockchain By User">
                </div>

                <div class="form-group" id="viewmodal_harvest_blockchain_uuidDiv">
                  <label for="viewmodal_harvest_blockchain_uuid">Harvest Blockchain ID</label>
                  <input type="text" name="viewmodal_harvest_blockchain_uuid" class="form-control" id="viewmodal_harvest_blockchain_uuid" placeholder="Harvest Blockchain ID">
                </div>

                <div class="form-group" id="viewmodal_harvest_userDiv">
                  <label for="viewmodal_harvest_user">Harvest Logged By User</label>
                  <input type="text" name="viewmodal_harvest_user" class="form-control" id="viewmodal_harvest_user" placeholder="Harvest Logged By User">
                </div>

                <div class="form-group" id="viewmodal_logdatetimeDiv">
                  <label for="viewmodal_logdatetime">Log Datetime</label>
                  <div class="input-group form_datetime" id="viewmodal_logdatetime_datetimepicker" data-target-input="viewmodal_logdatetime">
                      <input type="text" class="form-control datetimepicker-input" id="viewmodal_logdatetime" name="viewmodal_logdatetime" placeholder="Log Datetime" data-target="#viewmodal_logdatetime"/>
                      <span class="input-group-addon" data-target="#viewmodal_logdatetime" id="viewmodal_logdatetime_calendar" data-toggle="datetimepicker">
                          <span class="glyphicon glyphicon-calendar" id="viewmodal_logdatetime_calendar_icon"></span>
                      </span>
                  </div>
                </div>
            
                <div class="form-group" id="viewmodal_lastmodifieddatetimeDiv">
                  <label for="viewmodal_lastmodifieddatetime">Last Modified Datetime</label>
                  <div class="input-group form_datetime" id="viewmodal_lastmodifieddatetime_datetimepicker" data-target-input="viewmodal_lastmodifieddatetime">
                      <input type="text" class="form-control datetimepicker-input" id="viewmodal_lastmodifieddatetime" name="viewmodal_lastmodifieddatetime" placeholder="Last Modified Datetime" data-target="#viewmodal_lastmodifieddatetime"/>
                      <span class="input-group-addon" data-target="#viewmodal_lastmodifieddatetime" data-toggle="datetimepicker">
                          <span class="glyphicon glyphicon-calendar"></span>
                      </span>
                  </div>
                </div>

                <div class="form-group" id="viewmodal_harvest_logidDiv">
                  <label for="viewmodal_harvest_logid">Harvest ID</label>
                  <input type="text" name="viewmodal_harvest_logid" class="form-control" id="viewmodal_harvest_logid" placeholder="Harvest ID">
                </div> 
                
              <!-- <div class="form-group">
                <div class="input-group date" id="datetimepicker1" data-target-input="#inputdatetimepicker1">
                    <input type="text" class="form-control datetimepicker-input" placeholder="Last Modified Datetime"  id="inputdatetimepicker1" data-target="#inputdatetimepicker1"/>
                    <span class="input-group-addon" data-target="#inputdatetimepicker1" data-toggle="datetimepicker">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div> -->

                <div class="form-check" id="harvestCheckDiv">
                  <input type="checkbox" class="form-check-input" id="harvestCheck" required>
                  <label class="form-check-label" for="harvestCheck">I confirm the above harvest entry is correct</label>
                </div>
              </div>
              <div class="form-check" id="harvestDeleteDiv">
                <input type="checkbox" class="form-check-input" id="harvestDelete" required>
                <label class="form-check-label" for="harvestDelete">I confirm I wish to delete this harvest entry</label>
              </div>
            </div>
            </div>
            <div class="modal-footer" id="modalFooter">
              <input type="hidden" name="viewmodal_harvest_logid" class="" id="viewmodal_harvest_logid">
            </div>
          </div>
        </div>
      </div>
    </form>
    <!-- End Modal View Harvest-->

    <!-- start footer -->
    <% include ./partials/footer %>
    <!-- end footer -->
    
   <!--<script type="text/javascript" src="/js/bundle.js"></script>-->

    
  <script src="/js/scripts.min.js"></script><!--/*! jQuery v1.12.4 | (c) jQuery Foundation | jquery.org/license */-->
  <script src="/js/main.min.js"></script>  <!--  Bootstrap v3.3.7 -->
   
   <script type="text/javascript" src="/js/moment-with-locales.min.js"></script> <!--datetime picker -->
   <script type="text/javascript" src="/js/moment-timezone-with-data-2012-2022.min.js"></script> <!--datetime picker -->
   <script src="/js/tempusdominus-bootstrap-3.js"></script> <!--datetime picker -->

  <script src="/js/custom.js"></script><!-- Subscribe-->

  <script src="/js/web3.min.js"></script><!-- Blockchain -->
  <script src="/js/truffle-contract.js"></script><!-- Blockchain -->
  <script src="/js/sha256.min.js"></script><!-- Blockchain -->


  <script type="text/javascript">
    $(function () {
                    $('#datetimepicker1').datetimepicker();
                });

    $(function () {
      $('.form_datetime').datetimepicker();
     /*    $('.form_datetime').datetimepicker({
          weekStart: 1,
          todayBtn:  1,
      autoclose: 1,
      todayHighlight: 1,
      startView: 2,
      forceParse: 0,
          showMeridian: 1
      }); */
    });

    
  </script>
  
  <script type="text/javascript">
    function ShowModal(obj_identifier, action, header, contentClassID) {
      var updateButton=$('<input/>').attr({
          type: "submit",
          id: "harvestModalUpdate",
          value: 'Update',
          class:"btn btn-primary"
      });

      var addButton=$('<input/>').attr({
          type: "submit",
          id: "harvestModalAdd",
          value: 'Add',
          class:"btn btn-primary"
      });

      var deleteButton=$('<input/>').attr({
          type: "submit",
          id: "harvestModalDelete",
          value: 'Delete',
          class:"btn btn-danger"
      });

      var closeButton=$('<input/>').attr({
          type: "submit",
          id: "harvestModalClose",
          value: 'Close',
          class:"btn btn-secondary",
          'data-dismiss':"modal"
      });

      var harvest_logid = $(obj_identifier).data('harvest_logid');
      var harvest_suppliershortcode = $(obj_identifier).data('harvest_suppliershortcode'); 
      var harvest_suppliername = $(obj_identifier).data('harvest_suppliername');
      var harvest_farmername = $(obj_identifier).data('harvest_farmername');
      var harvest_supplieraddress = $(obj_identifier).data('harvest_supplieraddress');
      var harvest_producename = $(obj_identifier).data('harvest_producename');
      var harvest_photohash = $(obj_identifier).data('harvest_photohash');
      var harvest_photoimage = harvest_photohash;
      var harvest_timestamp = $(obj_identifier).data('harvest_timestamp');
      var harvest_capturetime = $(obj_identifier).data('harvest_capturetime');
      var harvest_description = $(obj_identifier).data('harvest_description');
      var harvest_geolocation = $(obj_identifier).data('harvest_geolocation');
      var harvest_quantity = $(obj_identifier).data('harvest_quantity');
      var harvest_unitofmeasure = $(obj_identifier).data('harvest_unitofmeasure');
      var harvest_description_json = $(obj_identifier).data('harvest_description_json');
      var harvest_blockchainhashid = $(obj_identifier).data('harvest_blockchainhashid');
      var harvest_blockchainhashdata = $(obj_identifier).data('harvest_blockchainhashdata');
      var supplierproduce = $(obj_identifier).data('supplierproduce');
      var harvest_bool_added_to_blockchain = $(obj_identifier).data('harvest_bool_added_to_blockchain');
      var harvest_added_to_blockchain_date = $(obj_identifier).data('harvest_added_to_blockchain_date');
      var harvest_added_to_blockchain_by = $(obj_identifier).data('harvest_added_to_blockchain_by');
      var harvest_blockchain_uuid = $(obj_identifier).data('harvest_blockchain_uuid');
      var harvest_user = $(obj_identifier).data('harvest_user');
      var year_established = $(obj_identifier).data('year_established');
      var covid19_response = $(obj_identifier).data('covid19_response');
      var logdatetime = $(obj_identifier).data('logdatetime');
      var lastmodifieddatetime = $(obj_identifier).data('lastmodifieddatetime');

      console.log("harvest_logid - " + harvest_logid);
      // console.log("supplierproduce - " + supplierproduce);
      // console.log("harvest_TimeStamp - " + harvest_TimeStamp);
      // console.log("harvest_supplierName - " + harvest_supplierName);
      // console.log("harvest_photohash - " + harvest_photohash);
      //console.log("harvest_photoimage - " + harvest_photoimage);

      console.log("harvest_description_json - " + harvest_description_json);
      if(typeof harvest_description_json !== "undefined")
      {
        if (harvest_description_json.indexOf("Pesticide Free") != -1)
        {
          $("#viewmodal_harvest_description_json_pestfree").prop("checked", true);
        }

        if (harvest_description_json.indexOf("Certified Organic") != -1)
        {
          $("viewmodal_harvest_description_json_certorganic").prop("checked", true);
        }

        if (harvest_description_json.indexOf("Non-Certified Organic") != -1)
        {
          $("#viewmodal_harvest_description_json_noncertorganic").prop("checked", true);
        }

        if (harvest_description_json.indexOf("Conventional") != -1)
        {
          $("#viewmodal_harvest_description_json_conventional").prop("checked", true);
        }

        if (harvest_description_json.indexOf("Free Range") != -1)
        {
          $("#viewmodal_harvest_description_json_freerange").prop("checked", true);
        }

        if (harvest_description_json.indexOf("Greenhouse Grown") != -1)
        {
          $("#viewmodal_harvest_description_json_greenhouse").prop("checked", true);
        }

        if (harvest_description_json.indexOf("Non-GMO") != -1)
        {
          $("#viewmodal_harvest_description_json_gmo").prop("checked", true);
        }
      }
      $('#viewmodal_harvest_logid').val(harvest_logid);
      $('#viewmodal_harvest_suppliershortcode').val(harvest_suppliershortcode);
      $('#viewmodal_harvest_suppliername').val(harvest_suppliername);
      $('#viewmodal_harvest_farmername').val(harvest_farmername);
      $('#viewmodal_harvest_supplieraddress').val(harvest_supplieraddress);
      $('#viewmodal_harvest_producename').val(harvest_producename);
      //$('#viewmodal_harvest_photohash').val(harvest_photohash);            
      $('#viewmodal_harvest_photoimage').attr("src", harvest_photoimage);

      $('#viewmodal_harvest_timestamp').val(harvest_timestamp);
      $('#viewmodal_harvest_capturetime').val(harvest_capturetime);
      $('#viewmodal_harvest_description').val(harvest_description);
      $('#viewmodal_harvest_geolocation').val(harvest_geolocation);
      $('#viewmodal_harvest_quantity').val(harvest_quantity);
      $('#viewmodal_harvest_unitofmeasure').val(harvest_unitofmeasure);
      $('#viewmodal_harvest_description_json').val(harvest_description_json);
      $('#viewmodal_harvest_blockchainhashid').val(harvest_blockchainhashid);
      $('#viewmodal_harvest_blockchainhashdata').val(harvest_blockchainhashdata);
      $('#viewmodal_supplierproduce').val(supplierproduce);
      $('#viewmodal_harvest_bool_added_to_blockchain').val(harvest_bool_added_to_blockchain);
      $('#viewmodal_harvest_added_to_blockchain_date').val(harvest_added_to_blockchain_date);
      $('#viewmodal_harvest_added_to_blockchain_by').val(harvest_added_to_blockchain_by);
      $('#viewmodal_harvest_blockchain_uuid').val(harvest_blockchain_uuid);
      $('#viewmodal_harvest_user').val(harvest_user);
      $('#viewmodal_harvest_year_established').val(year_established);
      $('#viewmodal_harvest_covid19_response').val(covid19_response);
      $('#viewmodal_logdatetime').val(logdatetime);
      $('#viewmodal_lastmodifieddatetime').val(lastmodifieddatetime);

    //remove modal buttons, then re-add
      $('#harvestModalUpdate').remove();
      $('#harvestModalAdd').remove();
      $('#harvestModalDelete').remove();
      $('#harvestModalClose').remove();
    
    if (action==='add'){
      $("#modalBodyContainer :input").attr("disabled", false);
      $("#modalBodyContainer :input").attr("required", true);
      
      //System populated:
      //viewmodal_harvest_photoimageDiv, viewmodal_harvest_blockchainhashidDiv, viewmodal_harvest_blockchainhashdataDiv,
      //viewmodal_harvest_bool_added_to_blockchainDiv, viewmodal_harvest_added_to_blockchain_dateDiv, 
      //viewmodal_harvest_userDiv, viewmodal_harvest_blockchain_uuidDiv, viewmodal_harvest_added_to_blockchain_byDiv,
      //viewmodal_harvest_capturetime, viewmodal_logdatetime, viewmodal_lastmodifieddatetime and viewmodal_harvest_logid 

      //Hide divs for System populated elements
      $("#viewmodal_harvest_photoimageDiv").hide();  
      $("#viewmodal_harvest_blockchainhashidDiv").hide();  
      $("#viewmodal_harvest_blockchainhashdataDiv").hide();  
      $("#viewmodal_harvest_bool_added_to_blockchainDiv").hide();  
      $("#viewmodal_harvest_added_to_blockchain_dateDiv").hide();  
      $("#viewmodal_harvest_userDiv").hide();  
      $("#viewmodal_harvest_blockchain_uuidDiv").hide();  
      $("#viewmodal_harvest_added_to_blockchain_byDiv").hide();  
      //
      $("#viewmodal_harvest_capturetimeDiv").hide();  
      $("#viewmodal_logdatetimeDiv").hide();  
      $("#viewmodal_lastmodifieddatetimeDiv").hide();  
      $("#viewmodal_harvest_logidDiv").hide();  
      

      //Make System populated elements not required otherwise Add Harvest Form will not submit
      $("#viewmodal_harvest_photoimage").attr("required", false);
      $("#viewmodal_harvest_blockchainhashid").attr("required", false);
      $("#viewmodal_harvest_blockchainhashdata").attr("required", false);
      $("#viewmodal_harvest_bool_added_to_blockchain").attr("required", false);
      $("#viewmodal_harvest_added_to_blockchain_date").attr("required", false);
      $("#viewmodal_harvest_user").attr("required", false);
      $("#viewmodal_harvest_blockchain_uuid").attr("required", false);
      $("#viewmodal_harvest_added_to_blockchain_by").attr("required", false);
      
      //
      $("#viewmodal_harvest_capturetime").attr("required", false);
      $("#viewmodal_logdatetime").attr("required", false);
      $("#viewmodal_lastmodifieddatetime").attr("required", false);
      $("#viewmodal_harvest_logid").attr("required", false);

      // Harvest description  checkboxes should not be required
      $("#viewmodal_harvest_description_json_pestfree").attr("required", false);
      $("#viewmodal_harvest_description_json_certorganic").attr("required", false);
      $("#viewmodal_harvest_description_json_noncertorganic").attr("required", false);
      $("#viewmodal_harvest_description_json_conventional").attr("required", false);
      $("#viewmodal_harvest_description_json_freerange").attr("required", false);
      $("#viewmodal_harvest_description_json_greenhouse").attr("required", false);
      $("#viewmodal_harvest_description_json_gmo").attr("required", false);

      $("#harvestDeleteDiv").hide();  // hide confirm delete checkbox
      $("#harvestDelete").attr("required", false); // make confirm delete checkbox not required otherwise form will not submit

      $("#harvestCheckDiv").show();  // show confirm add/edit checkbox

      $("#modalFooter").append(addButton);  
      $("#modalFooter").append(closeButton);  
    }
    else if (action==='view'){
      $("#modalBodyContainer :input").attr("disabled", true); //make fields read-only
      // $('#form1 input').attr('readonly', 'readonly');    

      //SHOW DIVS
      //System populated:
      //viewmodal_harvest_blockchainhashidDiv, viewmodal_harvest_blockchainhashdataDiv,
      //viewmodal_harvest_bool_added_to_blockchainDiv, viewmodal_harvest_added_to_blockchain_dateDiv, 
      //viewmodal_harvest_userDiv, viewmodal_harvest_blockchain_uuidDiv, viewmodal_harvest_added_to_blockchain_byDiv

      $("#viewmodal_harvest_photoimageDiv").show(); 
      $("#viewmodal_harvest_blockchainhashidDiv").show();  
      $("#viewmodal_harvest_blockchainhashdataDiv").show();  
      $("#viewmodal_harvest_bool_added_to_blockchainDiv").show();  
      $("#viewmodal_harvest_added_to_blockchain_dateDiv").show();  
      $("#viewmodal_harvest_userDiv").show();  
      $("#viewmodal_harvest_blockchain_uuidDiv").show();  
      $("#viewmodal_harvest_added_to_blockchain_byDiv").show();  
      
      $("#viewmodal_harvest_capturetimeDiv").show();  
      $("#viewmodal_logdatetimeDiv").show();  
      $("#viewmodal_lastmodifieddatetimeDiv").show();  
      $("#viewmodal_harvest_logidDiv").show();  

      $("#harvestCheckDiv").hide();  // hide confirm add/edit checkbox
      $("#harvestDeleteDiv").hide();  // hide confirm delete checkbox
      $("#modalFooter").append(closeButton);  
    }
    else if (action==='update'){
      $("#modalBodyContainer :input").attr("disabled", false);
      
      //TODO $("#viewmodal_logdatetime").attr('readonly', true);
      //$("#viewmodal_logdatetime_calendar").attr('readonly', true);
      // $("#viewmodal_logdatetime_calendar_icon").attr('readonly', true);


      //cannot modify image once it has been added
      $("#viewmodal_harvest_photoimageDiv").show();  
      $("#viewmodal_harvest_photohash").attr('disabled', true);

    // Harvest description checkboxes should  be read-only
    $("#viewmodal_harvest_description_json_pestfree").attr('disabled', true);
    $("#viewmodal_harvest_description_json_certorganic").attr('disabled', true);
    $("#viewmodal_harvest_description_json_noncertorganic").attr('disabled', true);
    $("#viewmodal_harvest_description_json_conventional").attr('disabled', true);
    $("#viewmodal_harvest_description_json_freerange").attr('disabled', true);
    $("#viewmodal_harvest_description_json_greenhouse").attr('disabled', true);
    $("#viewmodal_harvest_description_json_gmo").attr('disabled', true);

      $("#viewmodal_harvest_added_to_blockchain_dateDiv").show();  
      $("#viewmodal_harvest_capturetimeDiv").show();  //TODO - this should be readonly
      $("#viewmodal_logdatetimeDiv").show();  //TODO - this should be readonly
      $("#viewmodal_lastmodifieddatetimeDiv").show();  //TODO - this should be readonly

      $("#viewmodal_harvest_logidDiv").show();  
      $("#viewmodal_harvest_logid").attr('readonly', true);

      $("#harvestDeleteDiv").hide();  // hide confirm delete checkbox
      $("#harvestDelete").attr("required", false); // make confirm delete checkbox not required otherwise form will not submit

      $("#harvestCheckDiv").show();  // show confirm add/edit checkbox

      $("#modalFooter").append(updateButton);  
      $("#modalFooter").append(closeButton);  
      $('#harvestModalForm').attr('action', '/app/harvest/update');
    }
    else if (action==='delete'){
      $("#modalBodyContainer :input").attr("disabled", true);
      $("#harvestCheckDiv").hide();  // hide confirm add/edit checkbox
      $("#harvestCheck").attr("required", false); // make confirm confirm add/edit checkbox not required in case form will not submit

      $("#harvestDeleteDiv").show();  // show confirm delete checkbox

      //make viewmodal_harvest_logid readonly not disabled so it is sent via web request
      $("#viewmodal_harvest_logid").attr("disabled", false); 
      $("#viewmodal_harvest_logid").attr('readonly', true);

      $("#modalFooter").append(deleteButton);  
      $("#modalFooter").append(closeButton);  
      $('#harvestModalForm').attr('action', '/app/harvest/delete');
    }

    $('#harvestModalLabel').html(header);
    $('#modalBodyContainer').removeAttr('class'); //if already exists remove it
    $('#modalBodyContainer').addClass(contentClassID);
    $('#harvestViewModal').modal('show');
  }
    </script>
    <script src="/js/foodprint_blockchain.js"></script> <!-- Blockchain integration -->
  </body>
</html>
