<!DOCTYPE html>
<html lang="en">
  <head>
      <% include ./partials/head %>  

  </head>
  <body>
   <!-- START: header -->

  <div class="probootstrap-loader"></div>

  <header role="banner" class="probootstrap-header">
      <% include ./partials/header %>
  </header>
  <!-- END: header -->

   <!-- START TABLE-->
   <div class="container" style="width: 100%;">
    <h3>Order Dashboard</h3>

    <% include ./partials/notificationbar %>

    <!--FILTERS SECTION-->
    <div class="row">
    <div class="col-12 col-lg-12 col-xl-12">
          <div class="col-12 col-lg-12 col-xl-12">
            <h4>Filters</h4>
          </div>
        <div class="col-4 col-lg-4 col-xl-4">
          <p>Produce Type</p>
          <select class="custom-select d-block w-100 " name="province_filter" id="province_filter" required>
            <option value="" selected disabled>Select Produce Type</option>
            <option>All</option>
            <option>Basic Veg</option>
            <option>Herbs</option>
            <option>Other Veg</option>
          </select>
          <button onclick="" class="btn btn-sm mt-3" id="province-filter-btn" style="background-color: white;">Search</button>
        </div>
        <div class="col-4 col-lg-4 col-xl-4">
          <p>Province:</p>
          <select class="custom-select d-block w-100 " name="province_filter" id="province_filter" required>
            <option value="" selected disabled>Select a Province</option>
            <option>All</option>
            <option>Western Cape</option>
            <option>Eastern Cape</option>
            <option>Northern Cape</option>
            <option>North West</option>
            <option>KZN</option>
            <option>Free State</option>
            <option>Gauteng</option>
            <option>Mpumalanga</option>
            <option>Limpopo</option>
          </select>
          <button onclick="" class="btn btn-sm mt-3" id="province-filter-btn" style="background-color: white;">Search</button>
        </div>
        <div class="col-4 col-lg-4 col-xl-4">
          <p>Date Filter:</p>
          <select class="custom-select d-block w-100 " name="province_filter" id="province_filter" required>
            <option value="" selected disabled>Select a timeframe</option>
            <option>All</option>
            <option>1 Week</option>
            <option>1 Month</option>
            <option>6 Months</option>
            <option>1 Year</option>
          </select>
          <button onclick="" class="btn btn-sm mt-3" id="province-filter-btn" style="background-color: white;">Search</button>
        </div>
      </div>
    </div>
    
<!--OFFERS AND BIDS SECTIONS-->
<div class="col-12 col-lg-12 col-xl-12">
  <% if(bid_rows.length || offer_rows.length) {

    for(var i = 0; i< produce_rows.length; i++){
  %>
  <div class="row" style="border-bottom-style: solid;">
      <!--PRODUCE HEADING-->
      <div class="col-2 col-lg-2 col-xl-2">
        <h4><%=produce_rows[i]%></h4>
      </div>
      <!--BIDS COL-->
      <div class="col-5 col-lg-5 col-xl-5" >
        <h4>BIDS</h4>
        <!--Each card-->
        <% for(var k = 0; k< bid_rows.length; k++){ 
            if(bid_rows[k].bid_produceName == produce_rows[i]) {
          %>
        <div class="card col-1 col-lg-1 col-xl-1" style="width: 12rem;background-color: white;border-radius: 5px;margin: 10px;padding: 5px;">
          <div class="card-header">
            Bid
          </div>
          <div class="card-body">
            <h5 class="card-title"><%=bid_rows[k].bid_produceName%></h5>
            <p class="card-text">
              User: <%=bid_rows[k].bid_user%> <br>
              Quantity: <%=bid_rows[k].bid_quantity%>kgs <br>
              Price: <%=bid_rows[k].bid_price%>                            
            </p>
            <a href="#" class="btn-sm btn-primary">Accept</a>
            <a href="#" class="btn-sm btn-info">Compare</a>
          </div>
        </div>
        <%}} %>
      </div>
      <!--OFFERS COL-->
      <div class="col-5 col-lg-5 col-xl-5">
       <h4>OFFERS</h4>
         <!--Each card-->
         <% for(var k = 0; k< offer_rows.length; k++){ 
          if(offer_rows[k].offer_produceName == produce_rows[i]) {
        %>
      <div class="card col-1 col-lg-1 col-xl-1" style="width: 12rem;background-color: white;border-radius: 5px;margin: 10px;padding: 5px;">
        <div class="card-header">
          Offer
        </div>
        <div class="card-body">
          <h5 class="card-title"><%=offer_rows[k].offer_produceName%></h5>
          <p class="card-text">
            User: <%=offer_rows[k].offer_user%> <br>
            Quantity: <%=offer_rows[k].offer_quantity%>kgs <br>
            Price: <%=offer_rows[k].offer_price%>                            
          </p>
          <a href="#" class="btn-sm btn-primary">Accept</a>
          <a href="#" class="btn-sm btn-info">Compare</a>
        </div>
      </div>
      <%}} %>
      </div>
</div>

<!--END OF OFFER SECTION-->
<% }

           }else{ %>
               
                <div class="col-12 col-lg-12 col-xl-12"> 
                  <h3>No Biddings or Offers available at the moment</h3>
                </div>
              
            <% } %>
</div>


     
   </div>
   <!--END of offers section-->

    <!-- start footer -->
    <% include ./partials/footer %>
    <!-- end footer -->
    
   <!--<script type="text/javascript" src="/js/bundle.js"></script>-->
    <script src="/js/scripts.min.js"></script>
  <script src="/js/main.min.js"></script>
  <script src="/js/custom.js"></script>
  </body>
</html>
