<!DOCTYPE html>
<html lang="en">

<head>
        <%- include('partials/head'); %>
        <script>
            async function activatefilter() {
                var filter = document.getElementById('province_filter').value;
                if (filter == "All") {
                    window.location = '/app/produce/pricepage'
                } else if (filter) {
                    window.location = '/app/produce/pricepage/filter/' + filter;
                }

            }




            async function filterCheck(filter) {

                let province_array = ["All",
                    "Western Cape",
                    "Eastern Cape",
                    "Northern Cape",
                    "North West",
                    "KZN",
                    "Free State",
                    "Gauteng",
                    "Mpumalanga",
                    "Limpopo"
                ]
                for (var i = 0; i < province_array.length; i++) {
                    //check if produce is in list
                    if (filter == province_array[i]) {
                        document.getElementById('province_filter').value = filter;
                        break;
                    }

                }
                if (document.getElementById('province_filter').value != filter) {
                    //default
                    console.log("Unexpected Filter received");
                    window.location = '/app/produce/pricepage'
                }

            }
        </script>

</head>

<body onload="filterCheck('<%=filter_data%>')">
    <!-- START: header -->

    <div class="probootstrap-loader"></div>

    <header role="banner" class="probootstrap-header">
            <%- include('partials/header'); %>
    </header>
    <!-- END: header -->

    <!-- START TABLE-->
    <div class="container produceprice" style="width: 100%;">
        <div class="title col-12 title-global-container">
            <h3 class="title-global">Produce Price Page</h3>
        </div>


            <%- include('partials/notificationbar'); %>
            <div class="buttons-top">
                <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModalAdd">Add New Produce</button>

                <div class="col filter">
                    <select onchange="activatefilter()" class="custom-select d-block w-100 " name="province_filter" id="province_filter" required>
        <option value="" selected disabled>Choose a Province to filter</option>
        <option>All</option>
        <option>Western Cape</option>
        <option>Eastern Cape</option>
        <option>Northern Cape</option>
        <option>North West</option>
        <option>KZN</option>
        <option>Free State</option>
        <option>Gauteng</option>
        <option>Mpumalanga</option>
        <option>Limpopo</option>
      </select>
                </div>
            </div>
            <br>
            <table class="table table-hover table-sm" id="producePriceTable">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Produce ID</th>
                        <th scope="col">Produce Name</th>
                        <th scope="col">Price</th>
                        <th scope="col" width="20%">Date</th>
                        <th scope="col">Province</th>
                        <th width="200px">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% if(data.length){
  
                for(var i = 0; i< data.length; i++) {%>
                        <tr>
                            <th scope="row">
                                <%= (i+1) %>
                            </th>
                            <td>
                                <%= data[i].pk%>
                            </td>
                            <td>
                                <%= data[i].produce_name%>
                            </td>
                            <td>
                                <%= data[i].produce_price%>
                            </td>
                            <td>
                                <%= data[i].produce_date%>
                            </td>
                            <td>
                                <%= data[i].produce_province%>
                            </td>
                            <td>
                                <div class="btn-group-sm" role="group">
                                    <a href="javascript:void(0);" class="btn btn-sm btn-info edit" data-pk="<%= data[i].pk%>" data-produce_name="<%= data[i].produce_name%>" data-produce_price="<%= data[i].produce_price%>" data-produce_date="<%= data[i].produce_date%>" data-produce_province="<%= data[i].produce_province%>"><i class="far fa-edit"></i></a>
                                    <a href="javascript:void(0);" class="btn btn-sm btn-danger delete" data-pk2="<%= data[i].pk%>" data-produce_name2="<%= data[i].produce_name%>" data-produce_price2="<%= data[i].produce_price%>" data-produce_date2="<%= data[i].produce_date%>" data-produce_province2="<%= data[i].produce_province%>"><i class="far fa-trash-alt"></i></a>
                                </div>
                            </td>
                        </tr>
                        <% }
  
             }else{ %>
                            <tr>
                                <td colspan="5">No Produce</td>
                            </tr>
                            <% } %>

                </tbody>
            </table>
    </div>


    <!-- Modal Add Produce-->
    <form id="addProduceModalForm" action="/app/produce/pricepage/save" method="post">
        <div class="modal fade" id="myModalAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add New Produce and Price</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
             </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="produce_name">Produce Name</label>
                            <input type="text" name="produce_name" class="form-control" placeholder="Produce Name" required>
                        </div>
                        <div class="form-group">
                            <label for="produce_price">Price (Format: 00,00)</label>
                            <input type="number" name="produce_price" class="form-control" placeholder="Price" required>
                        </div>

                        <div class="form-group">
                            <label for="produce_type">Province</label>
                            <select class="custom-select d-block w-100 form-control" name="produce_province" id="produce_province" required>
                  <option value="" selected disabled>Choose a Province</option>
                  <option>Western Cape</option>
                  <option>Eastern Cape</option>
                  <option>Northern Cape</option>
                  <option>North West</option>
                  <option>KZN</option>
                  <option>Free State</option>
                  <option>Gauteng</option>
                  <option>Mpumalanga</option>
                  <option>Limpopo</option>
                </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- End Modal Add Produce-->

    <!-- Modal Update Produce-->
    <form id="updateProducePriceModal" action="/app/produce/pricepage/update" method="post">
        <div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit Produce and Price</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="produce_name">Produce Name</label>
                            <input type="text" name="produce_name" class="form-control produce_name" placeholder="Produce Name" required>
                        </div>
                        <div class="form-group">
                            <label for="produce_price_input">Price</label>
                            <p>Current Price:
                                <input type="text" name="produce_price" class="form-control produce_price" placeholder="Price" disabled></p>
                            <p>New Price:
                                <input type="number" name="produce_price" class="form-control produce_price_input" placeholder="Price" required></p>
                        </div>
                        <div class="form-group">
                            <label for="produce_province">Province</label>
                            <input type="text" name="produce_province" class="form-control produce_province" placeholder="Province" required>
                        </div>


                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="pk" class="pk">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </div>
        </div>
        </div>
    </form>
    <!-- End Modal Update Produce-->

    <!-- Modal Delete Produce-->
    <form id="add-row-form" action="/app/produce/pricepage/delete" method="post">
        <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="myModalLabel">Delete Produce and price</h5>
                        <strong>Are you sure to delete this produce item?</strong>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="produce_name2">Produce Name</label>
                            <input type="text" name="produce_name2" id="produce_name2" class="form-control produce_name2" readonly>
                        </div>
                        <div class="form-group">
                            <label for="produce_price2">Price </label>
                            <input type="text" name="produce_price2" id="produce_price2" class="form-control produce_price2" readonly>
                        </div>
                        <div class="form-group">
                            <label for="produce_date2">Date</label>
                            <input type="text" name="produce_date2" id="produce_date2" class="form-control produce_date2" readonly>
                        </div>
                        <div class="form-group">
                            <label for="produce_province2">Province</label>
                            <input type="text" name="produce_province2" id="produce_province2" class="form-control produce_province2" readonly>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" name="pk2" class="form-control pk2" required>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- End Modal Delete Produce-->




    <!-- start footer -->
    <%- include('partials/footer'); %>
        <!-- end footer -->

        <!--<script type="text/javascript" src="/js/bundle.js"></script>-->

        <script src="/js/scripts.min.js"></script>
        <!--/*! jQuery v1.12.4 | (c) jQuery Foundation | jquery.org/license */-->
        <script src="/js/main.min.js"></script>
        <!--  Bootstrap v3.3.7 -->

        <script type="text/javascript" src="/js/moment-with-locales.min.js"></script>
        <!--datetime picker -->
        <script type="text/javascript" src="/js/moment-timezone-with-data-2012-2022.min.js"></script>
        <!--datetime picker -->
        <script src="/js/tempusdominus-bootstrap-3.js"></script>
        <!--datetime picker -->

        <script src="/js/custom.js"></script>
        <!-- Subscribe-->
        <script src="/js/sha256.min.js"></script>
        <!-- Blockchain -->

        <script>
            $(document).ready(function() {

                //showing data to edit modal
                $('#producePriceTable').on('click', '.edit', function() {
                    var pk = $(this).data('pk');
                    var produce_name = $(this).data('produce_name');
                    var produce_price = $(this).data('produce_price');
                    var produce_province = $(this).data('produce_province');
                    $('#EditModal').modal('show');
                    $('.produce_name').val(produce_name);
                    $('.produce_price').val(produce_price);
                    $('.produce_province').val(produce_province);
                    $('.pk').val(pk);
                });

                //showing delete record modal
                $('#producePriceTable').on('click', '.delete', function() {
                    var pk2 = $(this).data('pk2');
                    var produce_name2 = $(this).data('produce_name2');
                    var produce_price2 = $(this).data('produce_price2');
                    var produce_date2 = $(this).data('produce_date2');
                    var produce_province2 = $(this).data('produce_province2');
                    $('#DeleteModal').modal('show');
                    $('.pk2').val(pk2);
                    $('.produce_name2').val(produce_name2);
                    $('.produce_price2').val(produce_price2);
                    $('.produce_date2').val(produce_date2);
                    $('.produce_province2').val(produce_province2);
                });
            });
        </script>

</body>

</html>