<!DOCTYPE html>
<html lang="en">
    <head>
    
          <%- include('partials/head'); %>
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  </head>
  <body>
     <!-- START: header -->

     <div class="probootstrap-loader"></div>

     <header role="banner" class="probootstrap-header">
             <%- include('partials/header'); %>
     </header>
     <!-- END: header -->
   
   <div class="container" style="width: 100%;">
       <% if(qrcode_data.length){%>
            <h3 class="text-center">Peek Beyond the Label</h3>
            <div class="qrcodedetailscardtimeline">
                <div class="card text-center" style="width: 100% ;background-color: white;padding: 10px;
                box-shadow: 2px 2px 4px 5px #ccc;  margin-top:20px;">
                    <div class="card-body">
                        <p class="card-text res-change">
                            <img src="<%=qrcode_data[0].qrcode_company_logo_url%>" id="company_image" alt="Company Logo" height="250px" width="250px"><br>
                           <%=qrcode_data[0].qrcode_company_name%><br>
                            <i>Established in <%=qrcode_data[0].qrcode_company_founded%></i><br>
                        </p>
                    </div>
                </div>
                <div style="width: 100% ;background-color: white;padding: 10px; box-shadow: 2px 2px 4px 5px #ccc;  margin-top:20px;">
                    <h3 class="company-title text-center"><%=qrcode_data[0].qrcode_product_name%></h3>
                        <p class="text-center">
                            <%=qrcode_data[0].qrcode_product_description%><br>
                        </p>
                </div>

                        <div class="row">
                            <div class="col-md-12 text-center">
                                    <!--For each attribute of QRCODE-->
                                    <% if(product_data.length){
                                          for(var i = 0; i < product_data.length; i++){
                                      %>
                                    <div class="card" style="width: 100% ;background-color: white;padding: 10px;
        box-shadow: 2px 2px 4px 5px #ccc;  margin-top:20px;">
                                        <div class="card-body">
                                            <h4 class="card-title"><%=product_data[i].product_attribute%></h4>
                                            <p class="card-text res-change">
                                             <%=product_data[i].product_attribute_description%><br>
                                            </p>
                                        </div>
                                    </div>
                                    <% }
                                          }
                                        else{ %>
                                        <div class="card">
                                            <div class="card-body">
                                                <h4 class="card-text res-change">No Attributes.</h4>
                                            </div>
                                        </div>
                                        <% } %>
                                </div>
                            </div>
                        <div class="card text-center" style="width: 100% ;background-color: white;padding: 10px;
                box-shadow: 2px 2px 4px 5px #ccc;  margin-top:20px;">
                            <div class="card-body">
                                <h4 class="card-title">Follow Us</h4>
                                <p class="card-text res-change">
                                    <a class="icon-instagram" href="<%=qrcode_data[0].qrcode_instagram%>" target="_blank"></a>
                                    <a class="icon-twitter" href="<%=qrcode_data[0].qrcode_twitter%>" target="_blank"></a>
                                    <a class="icon-facebook" href="<%=qrcode_data[0].qrcode_facebook%>" target="_blank"></a>
                                    <a class="icon-laptop" href="https://<%=qrcode_data[0].qrcode_website%>" target="_blank"></a>
                                </p>
                            </div>
                        </div>
   </div>
          <% }
           else{ %>
            <h4>No QR Code Product data.</h4>
            <% } %>
        <div class="text-center">
            <h6 class="sub-heading"><a href="https://www.foodprintlabs.com" target="_blank" >Powered by FoodPrint</a>  <i class="fas fa-bolt"></i></h6>
        </div>
    </div>
        
      <!-- start footer -->
      <%- include('partials/footer'); %>
      <!-- end footer -->  
   <!--<script type="text/javascript" src="/js/bundle.js"></script>-->
    <script src="/js/scripts.min.js"></script>
    <script src="/js/main.min.js"></script>
    <script src="/js/custom.js"></script>
  </body>
</html>
