<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FoodPrint - Tracing the world's food, from farm to fork.</title>
    <meta name="description" content="FoodPrint. Tracing the world's food, from farm to fork using Blockchain.">
    <meta name="keywords" content="food supply chain, traceability, blockchain, farmers, food markets, retailers, customers, restaurants">

    <link href="https://fonts.googleapis.com/css?family=Just+Another+Hand|Open+Sans:300,400" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles-merged.css">
    <link rel="stylesheet" href="/css/style.min.css">
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="/css/timeline.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

    <!--[if lt IE 9]>
      <script src="/js/vendor/html5shiv.min.js"></script>
      <script src="/js/vendor/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
   <!-- START: header -->

  <div class="probootstrap-loader"></div>

  <header role="banner" class="probootstrap-header">
    <div class="container">
      <img class="logo" src="/img/FoodPrintLogo.png" height="40px" align="left" vertical-align="middle">
        <a href="/" class="probootstrap-logo">FoodPrint<span>.</span></a>

        <a href="#" class="probootstrap-burger-menu visible-xs" ><i>Menu</i></a>
        <div class="mobile-menu-overlay"></div>

        <nav role="navigation" class="probootstrap-nav hidden-xs">
          <ul class="probootstrap-main-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/gallery">Produce</a></li>
            <li><a href="/farmers">Farmers</a></li>
            <li><a href="/weekly">Weekly View</a></li>
            <li><a href="/supplychain">Supply Chain</a></li>
            <!--<li><a href="#">Config</a></li>-->
            <li><a href="/sign_in">Sign In</a></li>
            <!--<li><a class="btn btn-outline-primary" href="#">Hi Thandeka</a></li>-->
          </ul>
          <div class="extra-text visible-xs">
            <a href="#" class="probootstrap-burger-menu"><i>Menu</i></a>
            <h5>Connect</h5>
            <ul class="social-buttons">
              <li><a href="#"><i class="icon-twitter"></i></a></li>
              <li><a href="#"><i class="icon-facebook2"></i></a></li>
              <li><a href="#"><i class="icon-instagram2"></i></a></li>
            </ul>
          </div>
        </nav>
    </div>
  </header>
  <!-- END: header -->
   <div class="container" style="width: 100%;">
       <% if(data.length){%>
            <h4>Visualise the Journey</h4>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="main-timeline">
                                <a href="#" class="timeline">
                                    <div class="timeline-icon"><i class="fas fa-seedling"></i></div>
                                    <div class="timeline-content">
                                        <h3 class="title">Farm</h3>
                                        <p class="description">
                                         These tasty fresh <b><%=data[0].productID%></b> were grown at <b><%=data[0].supplierID%></b>.   The farm is located in the Western Cape (<i>here are the GPS coordinates <b><%=data[0].geolocation%></b></i>).
                                        </p>
                                    </div>
                                </a>
                                <a href="#" class="timeline">
                                    <div class="timeline-icon"><i class="fa fa-hands"></i></div>
                                    <div class="timeline-content">
                                        <h3 class="title">Harvest</h3>
                                        <p class="description">
                                            <b><%=data[0].supplierID%></b> exercised high standards of crop management and sustainable farming practices that minimized crop pests, diseases and maintained soil fertility. The <b><%=data[0].productID%></b> were harvested on <b><%=data[0].harvestTimeStamp%></b>
                                            and the harvest data captured on FoodPrint on <b><%=data[0].harvestCaptureTime%></b>.
                                        </p>
                                    </div>
                                </a>
                                <a href="#" class="timeline">
                                    <div class="timeline-icon"><i class="fa fa-shipping-fast"></i></div>
                                    <div class="timeline-content">
                                        <h3 class="title">Transportation</h3>
                                        <p class="description">
                                            After receiving an order from the market, <b><%=data[0].supplierID%></b> packaged and transported the <b><%=data[0].productID%></b> to the market on
                                            <%=data[0].storageTimeStamp%> (<i>a day before the market opens to the public</i>).
                                        </p>
                                    </div>
                                </a>
                                <a href="#" class="timeline">
                                    <div class="timeline-icon"><i class="fa fa-box-open"></i></div>
                                    <div class="timeline-content">
                                        <h3 class="title">Storage</h3>
                                        <p class="description">
                                            The handover of the <b><%=data[0].productID%></b> from <b><%=data[0].supplierID%></b> to the market happened on <b><%=data[0].storageTimeStamp%></b> (<i>to be exact</i>). The handover was captured on FoodPrint at <b><%=data[0].storageCaptureTime%></b>.
                                    </div>
                                </a>
                                <a href="#" class="timeline">
                                    <div class="timeline-icon"><i class="fas fa-shopping-bag"></i></div>
                                    <div class="timeline-content">
                                        <h3 class="title">Market Stall</h3>
                                        <p class="description">
                                            The <b><%=data[0].productID%></b> were stored at optimal temperature overnight before the opening of the market this weekend. They were added to the stall this morning!
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <br/>
                            <div class="probootstrap-section-heading text-center mb50 probootstrap-animate">
                                <h4 class="sub-heading">Traced using Blockchain <i class="far fa-check-circle"></i></h4>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
          <% }
           else{ %>
           <h4>Oops, something went wrong.</h4>
        <% } %>


   <footer class="probootstrap-footer probootstrap-bg" style="background-image: url(/img/slider_3.jpg)">
    <div class="container">
      <div class="row mb60">
        <div class="col-md-3">
          <div class="probootstrap-footer-widget">
            <h4 class="heading">About FoodPrint</h4>
            <ul class="stack-link">
              <li><a href="/about">About</a></li>
              <li><a href="/contact">Contact</a></li>
              <!--<li><a href="#">Locations</a></li>-->
              <li><a href="/how">How it works?</a></li>
              <li><a href="/terms">Terms of Use</a></li>
              <!--<li><a href="#">FAQ</a></li>-->
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="probootstrap-footer-widget">
            <h4 class="heading">Features</h4>
            <ul class="stack-link">
              <li><a href="#">Harvest Data Capture</a></li>
              <li><a href="#">Storage Data Capture</a></li>
              <li><a href="#">Barcode Scanning</a></li>
              <li><a href="#">Analytics</a></li>
              <li><a href="#">Support</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="probootstrap-footer-widget">
            <h4 class="heading">Products</h4>
            <ul class="stack-link">
              <li><a href="#">Organic Fruits</a></li>
              <li><a href="#">Organic Vegetables</a></li>
              <li><a href="#">Non-GMO Products</a></li>
              <li><a href="#">Locally Grown Products</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="probootstrap-footer-widget">
            <h4 class="heading">FoodPrint</h4>
            <p>Tracing the world's food, from farm to fork.</p>
          </div>
        </div>
      </div>
      <div class="row copyright">
        <div class="col-md-9">
          <div class="probootstrap-footer-widget">
            <p>&copy; 2019 <a href="http://foodprintapp.com/">FoodPrint. Tracing the world's food, from farm to fork</a>. Hosting sponsor <a href="https://jskdezign.com/" target="_blank">JSKDEZIGN</a>.</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="probootstrap-footer-widget right">
            <ul class="probootstrap-footer-social">
              <li><a href="#"><i class="icon-twitter"></i></a></li>
              <li><a href="#"><i class="icon-facebook"></i></a></li>
              <li><a href="#"><i class="icon-instagram2"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
   <!--<script type="text/javascript" src="/js/bundle.js"></script>-->
    <script src="/js/scripts.min.js"></script>
  <script src="/js/main.min.js"></script>
  <script src="/js/custom.js"></script>
  </body>
</html>
